<%- include("partials/header") %>

<div class="ui main text container segment">
    <div id="title" class="ui huge header">
        <i class="dna icon"></i>
        Explore Molecular Biology Articles
    </div>
<% blogs.forEach(function(blog) { %>

    
    <div id="headers" class="ui huge header"><%= blog.title%><span class="date-view"><%= blog.created.toDateString() %></span></div>
    
    <img id="index-img" class="ui centered rounded image" src="<%= blog.image %>" height="200px" width="auto">
    <div class="description">
        <%= blog.body.substring(0,75) %>
    </div> 
    <a href="/blogs/<%=blog._id%>">Read More</a>
    <hr>
    

<% }) %>
</div>
<%- include("partials/footer") %>